@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* CSS */

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: Bellefair;
  src: url(./assets/font/Bellefair-Regular.ttf);
}

@font-face {
  font-family: BarlowCondensed;
  src: url(./assets/font/BarlowCondensed-Regular.ttf);
}

@font-face {
  font-family: Barlow;
  src: url(./assets/font/Barlow-Regular.ttf);
}

.absolute {
  left: 200px;
}

/* Tailwind  */

@layer components {
  .App {
    @apply bg-[url('./assets/home/background-home-mobile.jpg')] max-w-screen-sm
    md:bg-[url('./assets/home/background-home-tablet.jpg')] md:max-w-screen-md
    lg:bg-[url('./assets/home/background-home-desktop.jpg')] lg:max-w-screen-lg bg-cover;
  }

  .spaceexplore {
    @apply lg:flex lg:flex-row lg:space-x-80;
  }

  .spacetext {
    @apply text-white 
    w-1/2 mt-8 p-40;
  }
  .explorecircle {
    @apply flex items-center justify-center 
    mt-64 p-32 w-32 h-32 rounded-full bg-white
    hover:border-8 hover:border-slate-400;
  }

  .active {
    @apply border-b-2;
  }

  .Destination {
    @apply sm:bg-[url('./assets/destination/background-destination-mobile.jpg')]
    md:bg-[url('./assets/destination/background-destination-tablet.jpg')] 
    lg:bg-[url('./assets/destination/background-destination-desktop.jpg')] 
    bg-cover;
  }

  .Crew {
    @apply sm:bg-[url('./assets/crew/background-crew-mobile.jpg')]
    md:bg-[url('./assets/crew/background-crew-tablet.jpg')] 
    lg:bg-[url('./assets/crew/background-crew-desktop.jpg')] 
    bg-cover;
  }

  .Technology {
    @apply sm:bg-[url('./assets/technology/background-technology-mobile.jpg')]
    md:bg-[url('./assets/technology/background-technology-tablet.jpg')] 
    lg:bg-[url('./assets/technology/background-technology-desktop.jpg')] 
    bg-cover;
  }
}
